@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FBFBFB;
    position: relative;
    width: 1440px;
    /* height: 1488px; */
}

.logo {
    /* Logo Here */


    position: absolute;
    width: 130px;
    height: 29px;
    left: 100px;
    top: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #F6AF03;
}

.nav {
    position: absolute;
    width: 681px;
    height: 31.54px;
    left: 659px;
    top: 40px;

    align-items: center;
    display: flex;
    justify-content: space-between;

}

.nav span {
    /* position: absolute;
    width: 44px;
    height: 19.33px;
    left: 659px;
    top: 46px; */

    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #1F1F1F;

    cursor: pointer;

}

span a {
    text-decoration: none;
    color: #1F1F1F;
}

.circle {
    opacity: 0.75;
    border: 1px solid #011C2B;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    padding: 5px;

}

.title {
    position: absolute;
    width: 462px;
    height: 87px;
    left: 489px;
    top: 145px;

}

.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    /* margin-bottom: 10px; */
    text-align: center;

    color: #F7AF03;
}

.msg {
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #717171;

}

.main {
    position: absolute;
    width: 1196px;
    height: 667px;
    left: 122px;
    top: 292px;

    background: #FFFFFF;
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
    border-radius: 10px;

    display: flex;
}

.card {
    /* position: absolute; */
    width: 491px;
    height: 647px;
    /* left: 10px;
    top: 10px; */
    margin-left: 10px;
    margin-top: 10px;

    background: #011C2B;
    border-radius: 10px;
}



.card-header .ch1 {

    position: absolute;
    width: 291px;
    height: 42px;
    left: 40px;
    top: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */


    color: #FFFFFF;
}

.ch2 {
    position: absolute;
    width: 307px;
    height: 27px;
    left: 40px;
    top: 88px;

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #C9C9C9;
}

.card-body {
    position: absolute;
    width: 337px;
    height: 196px;
    left: 40px;
    top: 215px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body div {
    display: flex;

}

.card-body div div {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #FFFFFF;

}

.text {
    padding-left: 25px;
}

.ellipse01 {
    position: absolute;
    width: 138px;
    height: 138px;
    left: 283px;
    top: 438px;
    border-radius: 50%;

    background: rgba(255, 249, 249, 0.13);

}

.ellipse02 {
    position: absolute;
    width: 269px;
    height: 269px;
    left: 311px;
    top: 464px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.12);

}

.icon {
    display: flex;
    justify-content: space-between;

    position: absolute;
    width: 138px;
    left: 39px;
    top: 581px;

}

.icon div {

    width: 30px;
    height: 30px;
    padding: 4px;

    border-radius: 50%;

    background: #F6AF03;
}

.arrow {
    position: absolute;
    width: 240.79px;
    height: 162.31px;
    left: 819.87px;
    top: 499.5px;

    transform: rotate(-15deg);

}

.arrow img {
    width: 100%;
    height: 100%;
}

.form-sect {
    /* position: relative; */
    /* background-color: #C9C9C9; */
    width: 695px;
}

form {
    /* border: 1px solid black; */
    height: 380px;
    width: 595px;

    position: relative;
    left: 50px;
    top: 100px;

    /* display: flex; */
}

form input {
    height: 70%;
    width: 100%;
    font-size: 16px;

    border: none;
    outline: none;
    /* border-bottom: 2px solid #ccc; */
    border-bottom: 2px solid #8D8D8D;
}

form input:focus {
    border-bottom: 2px solid #F6AF03;
}

form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */


    color: #8D8D8D;
}

.one {
    width: 278px;
    height: 55px;
    margin-bottom: 45px;
}

.two {
    position: absolute;
    left: 317px;
    top: 0px;

    width: 278px;
    height: 55px;
}

.three {
    width: 278px;
    height: 55px;
    margin-bottom: 45px;
}

.four {
    position: absolute;
    left: 317px;
    top: 100px;

    width: 278px;
    height: 55px;
}

.five {
    width: 595px;
    height: 70px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    margin-top: 5px;

    padding: 10px;
    height: 70%;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    /* border-bottom: 2px solid #ccc; */
    border-bottom: 2px solid #8D8D8D;
}

textarea:focus {
    border-bottom: 2px solid #F6AF03;
}

button {
    padding: 15px 48px;

    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 214px;
    height: 54px;
    background: #011C2A;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
    border-radius: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;
}


.g-recaptcha{
    
    /* padding: 5px; */
    margin-top: 35px;
}